<h2>Setup</h2>

<%= link_to "User Management", employees_path %><br/>
<%= link_to "Payment Terms", payment_terms_path %><br/>
<%= link_to "Freight Terms", freight_terms_path %><br/>
<%= link_to "Unit of Measure", unit_of_measures_path %><br/>