<h2>Supply</h2>

<h3>Purchase</h3>

<%= link_to "Suppliers", suppliers_path %><br/>

Purchase Orders<br/>

Purchase Returns<br/>

Purchase Pricing<br/>

<h3>Production (Internal Manufacturing)</h3>

Production Order<br/>

Production Order<br/>

